.comment
{
	background-color: yellow;
}
.modal-header, h4, .close {
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: #f9f9f9;
}
.navbar {
    padding-top: 7px;
    padding-bottom: 7px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;    
}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}